data transformation starts here

In [ ]:
# some code here 
# removing nulls